USE [master]
GO
/****** Object:  Database [ApoBankDb]    Script Date: 20.09.2022 17:12:52 ******/
CREATE DATABASE [ApoBankDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ApoBankDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ApoBankDb.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ApoBankDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ApoBankDb_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ApoBankDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ApoBankDb]
GO
/****** Object:  Table [dbo].[MusteriHesap]    Script Date: 20.09.2022 17:12:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MusteriHesap](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Musteri_ID] [int] NULL,
	[KartNumarasi] [nvarchar](16) NULL,
	[SonKullanmaAy] [nvarchar](2) NULL,
	[SonKullanmaYil] [nvarchar](2) NULL,
	[CVV] [nvarchar](3) NULL,
	[Bakiye] [decimal](18, 2) NULL,
 CONSTRAINT [PK_MusteriHesap] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Musteriler]    Script Date: 20.09.2022 17:12:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Musteriler](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Isim] [nvarchar](50) NULL,
	[Soyisim] [nvarchar](50) NULL,
	[Telefon] [nvarchar](11) NULL,
 CONSTRAINT [PK_Musteriler] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SanalPosMusteri]    Script Date: 20.09.2022 17:12:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanalPosMusteri](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Isim] [nvarchar](50) NULL,
	[SaticiNo] [nvarchar](10) NULL,
	[SaticiSifre] [nvarchar](10) NULL,
	[Bakiye] [decimal](18, 2) NULL,
	[Durum] [bit] NULL,
 CONSTRAINT [PK_SanalPosMusteri] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[MusteriHesap] ON 

INSERT [dbo].[MusteriHesap] ([ID], [Musteri_ID], [KartNumarasi], [SonKullanmaAy], [SonKullanmaYil], [CVV], [Bakiye]) VALUES (1, 1, N'1236547898541236', N'02', N'25', N'275', CAST(8850.00 AS Decimal(18, 2)))
INSERT [dbo].[MusteriHesap] ([ID], [Musteri_ID], [KartNumarasi], [SonKullanmaAy], [SonKullanmaYil], [CVV], [Bakiye]) VALUES (11, 2, N'9876543211234569', N'03', N'24', N'963', CAST(80000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[MusteriHesap] OFF
SET IDENTITY_INSERT [dbo].[Musteriler] ON 

INSERT [dbo].[Musteriler] ([ID], [Isim], [Soyisim], [Telefon]) VALUES (1, N'Abdullah', N'Cingöz', N'05413939799')
INSERT [dbo].[Musteriler] ([ID], [Isim], [Soyisim], [Telefon]) VALUES (2, N'Ramazan', N'Uçak', N'05070029662')
INSERT [dbo].[Musteriler] ([ID], [Isim], [Soyisim], [Telefon]) VALUES (3, N'Ali', N'Veli', N'05558963659')
SET IDENTITY_INSERT [dbo].[Musteriler] OFF
SET IDENTITY_INSERT [dbo].[SanalPosMusteri] ON 

INSERT [dbo].[SanalPosMusteri] ([ID], [Isim], [SaticiNo], [SaticiSifre], [Bakiye], [Durum]) VALUES (1, N'ApoBank', N'123456789', N'256341', CAST(11150.00 AS Decimal(18, 2)), 1)
SET IDENTITY_INSERT [dbo].[SanalPosMusteri] OFF
ALTER TABLE [dbo].[MusteriHesap]  WITH CHECK ADD  CONSTRAINT [FK_MusteriHesap_Musteriler] FOREIGN KEY([Musteri_ID])
REFERENCES [dbo].[Musteriler] ([ID])
GO
ALTER TABLE [dbo].[MusteriHesap] CHECK CONSTRAINT [FK_MusteriHesap_Musteriler]
GO
USE [master]
GO
