USE [master]
GO
/****** Object:  Database [AnaBayiVeriTabani]    Script Date: 20.09.2022 17:09:28 ******/
CREATE DATABASE [AnaBayiVeriTabani]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AnaBayiVeriTabani', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\AnaBayiVeriTabani.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'AnaBayiVeriTabani_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\AnaBayiVeriTabani_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AnaBayiVeriTabani].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AnaBayiVeriTabani]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 20.09.2022 17:09:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Brands]    Script Date: 20.09.2022 17:09:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brands](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BrandName] [nvarchar](50) NOT NULL,
	[Status] [bit] NOT NULL,
	[Brand_ID] [int] NULL,
 CONSTRAINT [PK_dbo.Brands] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Categories]    Script Date: 20.09.2022 17:09:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](100) NULL,
	[Status] [bit] NOT NULL,
	[Category_ID] [int] NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Products]    Script Date: 20.09.2022 17:09:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](50) NOT NULL,
	[Category_ID] [int] NOT NULL,
	[Brand_ID] [int] NOT NULL,
	[Description] [nvarchar](200) NULL,
	[Stock] [decimal](18, 2) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Status] [bit] NOT NULL,
	[CoverImage] [nvarchar](max) NULL,
	[CreationDay] [datetime] NULL,
 CONSTRAINT [PK_dbo.Products] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Brands] ON 

INSERT [dbo].[Brands] ([ID], [BrandName], [Status], [Brand_ID]) VALUES (1, N'Mercedes', 0, NULL)
INSERT [dbo].[Brands] ([ID], [BrandName], [Status], [Brand_ID]) VALUES (3, N'Audi', 1, NULL)
INSERT [dbo].[Brands] ([ID], [BrandName], [Status], [Brand_ID]) VALUES (4, N'Toyota', 0, NULL)
SET IDENTITY_INSERT [dbo].[Brands] OFF
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([ID], [CategoryName], [Description], [Status], [Category_ID]) VALUES (1, N'Tekerlek', N'asda', 0, NULL)
INSERT [dbo].[Categories] ([ID], [CategoryName], [Description], [Status], [Category_ID]) VALUES (2, N'asdasd', N'asdasd', 1, NULL)
SET IDENTITY_INSERT [dbo].[Categories] OFF
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ID], [ProductName], [Category_ID], [Brand_ID], [Description], [Stock], [Price], [Status], [CoverImage], [CreationDay]) VALUES (7, N'asaas', 1, 1, N'asasasas', CAST(21.00 AS Decimal(18, 2)), CAST(21.00 AS Decimal(18, 2)), 1, N'', CAST(N'2022-09-19 16:32:20.817' AS DateTime))
INSERT [dbo].[Products] ([ID], [ProductName], [Category_ID], [Brand_ID], [Description], [Stock], [Price], [Status], [CoverImage], [CreationDay]) VALUES (8, N'deneme', 1, 1, N'deneme111', CAST(12.00 AS Decimal(18, 2)), CAST(1.00 AS Decimal(18, 2)), 1, N'', CAST(N'2022-09-19 16:56:23.043' AS DateTime))
INSERT [dbo].[Products] ([ID], [ProductName], [Category_ID], [Brand_ID], [Description], [Stock], [Price], [Status], [CoverImage], [CreationDay]) VALUES (9, N'denemeeea', 1, 1, N'dssadasd', CAST(12.00 AS Decimal(18, 2)), CAST(21.00 AS Decimal(18, 2)), 1, N'System.Drawing.Bitmap', CAST(N'2022-09-19 17:01:32.410' AS DateTime))
SET IDENTITY_INSERT [dbo].[Products] OFF
/****** Object:  Index [IX_Brand_ID]    Script Date: 20.09.2022 17:09:28 ******/
CREATE NONCLUSTERED INDEX [IX_Brand_ID] ON [dbo].[Brands]
(
	[Brand_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Category_ID]    Script Date: 20.09.2022 17:09:28 ******/
CREATE NONCLUSTERED INDEX [IX_Category_ID] ON [dbo].[Categories]
(
	[Category_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Brand_ID]    Script Date: 20.09.2022 17:09:28 ******/
CREATE NONCLUSTERED INDEX [IX_Brand_ID] ON [dbo].[Products]
(
	[Brand_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Category_ID]    Script Date: 20.09.2022 17:09:28 ******/
CREATE NONCLUSTERED INDEX [IX_Category_ID] ON [dbo].[Products]
(
	[Category_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Brands]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Brands_dbo.Brands_Brand_ID] FOREIGN KEY([Brand_ID])
REFERENCES [dbo].[Brands] ([ID])
GO
ALTER TABLE [dbo].[Brands] CHECK CONSTRAINT [FK_dbo.Brands_dbo.Brands_Brand_ID]
GO
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Categories_dbo.Categories_Category_ID] FOREIGN KEY([Category_ID])
REFERENCES [dbo].[Categories] ([ID])
GO
ALTER TABLE [dbo].[Categories] CHECK CONSTRAINT [FK_dbo.Categories_dbo.Categories_Category_ID]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.Brands_Brand_ID] FOREIGN KEY([Brand_ID])
REFERENCES [dbo].[Brands] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.Brands_Brand_ID]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.Categories_Category_ID] FOREIGN KEY([Category_ID])
REFERENCES [dbo].[Categories] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.Categories_Category_ID]
GO
USE [master]
GO
